<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button ion-button routerLink="/tabs/workouts">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{workout.workout_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="fixed">Name:</ion-label>
    <ion-input [(ngModel)]="exerciseName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Sets:</ion-label>
    <ion-icon ios="ios-remove-circle" md="md-remove-circle" (click)="discrease('sets')"></ion-icon>
    <p *ngIf="!sets"><b>0</b></p>
    <p *ngIf="sets"><b>{{sets}}</b></p>
    <ion-icon ios="ios-add-circle" md="md-add-circle" class="end-add-icon" (click)="increase('sets')">
    </ion-icon>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Repetitions:</ion-label>
    <ion-icon ios="ios-remove-circle" md="md-remove-circle" (click)="discrease('reps')"></ion-icon>
    <p *ngIf="!reps"><b>0</b></p>
    <p *ngIf="reps"><b>{{reps}}</b></p>
    <ion-icon ios="ios-add-circle" md="md-add-circle" class="end-add-icon" (click)="increase('reps')">
    </ion-icon>
  </ion-item>
  <ion-item>

    <ion-label>Rest Duration:</ion-label>
    <ion-datetime displayFormat="mm:ss" placeholder="Tap here" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>
  <ion-button (click)="saveExercise()">Click</ion-button>
</ion-content>