<ion-header>
  <ion-toolbar>
    <ion-title>Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item color='dark'>
    <ion-label>Rest Duration</ion-label>
    <ion-datetime display-format='mm:ss' placeholder="Tap here" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>

  <circle-progress (click)="startTime()"
    [percent]="percent"
    [maxPercent]="100"
    [radius]="radius"
    [showTitle]="true"
    [showSubtitle]="true"
    [showUnits]="true"
    [outerStrokeWidth]="16"
    [outerStrokeColor]="'#8000FF'"
    [showZeroOuterStroke]="false"
    [backgroundStroke]="'#33003F'"
    [backgroundStrokeWidth]="3"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#FF00CB'"
    [showInnerStroke]="false"
  ></circle-progress>
  <p class="overallTimer-title">Elapsed workout time:</p>
  <p>{{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}</p>

  <ion-fab vertical='bottom' horizontal='end' slot='fixed'>
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTime()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #running>
      <ion-fab-button (click)="stopTime()">
        <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>

</ion-content>

<!-- [percent]="precent"
[maxPercent]="100"
[radius]="radius"
[showTitle]="false"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300" -->