<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Films</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-card *ngFor="let workout of workouts" (click)="onWorkoutCard(workout.id)">
    <ion-card-content>
      {{workout.workout_name}}
    </ion-card-content>
  </ion-card> -->

  <ion-list>
    <ion-item button detail lines="inset" *ngFor="let workout of workouts" (click)="onWorkoutCard(workout.id)">
      {{ workout.workout_name }}
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="center" horizontal="center" *ngIf="!workouts">
    <ion-fab-button (click)="presentAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="workouts">
    <ion-fab-button (click)="presentAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>













<!-- <ion-button expand="full" (click)="openExercises()">openExercises()</ion-button>
  <ion-button expand="full" routerLink="/tabs/workouts/42" routerDirection="forward">Exercises by routerLink</ion-button> -->

<!-- <ion-button expand="full" (click)="openNewExercise()">openNewxercise()</ion-button> -->