<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="workouts">
      <ion-icon name="film"></ion-icon>
      <ion-label>Workouts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timer">
      <ion-icon name="people"></ion-icon>
      <ion-label>Timmer</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
 
</ion-tabs>