<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button ion-button routerLink="/tabs/workouts">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{workout.workout_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let exercise of exercises">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-row><b>{{exercise.exercise_name}}</b></ion-row>
              <ion-row>{{exercise.sets}} {{exercise.reps}}</ion-row>
            </ion-col>
            <ion-col size="2">
              <ion-fab-button size="small" type="button" translucent="true" (click)="delete(exercise.id)">
                <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
              </ion-fab-button>
            </ion-col>
            <ion-col size="2">
              <ion-fab-button size="small" type="button" translucent="true" (click)="presentModal(exercise)">
                <ion-icon ios="ios-create" md="md-create"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="exercises">
    <ion-fab-button (click)="onFabClicked()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>