<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{exerciseName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item> 
    <ion-label position="stacked">Sets:</ion-label>
    <ion-input [(ngModel)]="sets" type="text" value="{{sets}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Reps:</ion-label>
    <ion-input [(ngModel)]="reps" type="text" value="{{reps}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Rest time:</ion-label>
    <ion-datetime displayFormat="mm:ss" [(ngModel)]="rest"></ion-datetime>
  </ion-item>
  <ion-button (click)="saveEdits()">SAVE</ion-button>
</ion-content>